body {
    background-image: url(./image/forest.jpg);
}


.cartao {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
}

.card {
    transition: all 0.5s;
}

.card:hover {
    transform: scale(1.3);
    background-color
}

.card-body-wolf {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.card-body-spider {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.card-body-owl {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}



.drop {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 30px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.navbar-brand {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

